.aw-team .hide  { display: none; } 
.aw-team .clear { clear: both; }
.aw-team .right { text-align: right; }
.aw-team .red   { color: red; }
.aw-team .green { color: green; }
.aw-team .w100pc { width: 100%; }
.aw-team .mgr10 { margin-right: 10px; }
.aw-team .mgb10 { margin-bottom: 10px; }
.aw-team .bd4 {
	border: 1px solid #E3E3D7;
}


.aw-team .loading,
.aw-team .nullitem { 
	text-align: center;
	padding: 70px 0; 
}

/* * * * * * AHref Button * * * * */
.aw-team a.habtn {
	border-bottom: 1px dotted;
	text-decoration: none;
	margin: 0 5px;
}
.aw-team a.remove {
	color: #D6583F;
}
.aw-team .rbtns {
	position: absolute;
	top: 0; right: 0;
}

/* * * * * * * * Workspace * * * * * * * */
.aw-team .gheadermenu {
	position: relative;
	padding: 15px 0 0 150px;
	height: 100px;
}
.aw-team .gheadermenu h2 {
	padding: 5px 10px;
	font-size: 1.5em;
	background-color: #8c8d8e;
	color: #fff;
}
.aw-team .gheadermenu .logo {
	position: absolute;
	top: 0; left: 30px;
}
.aw-team .gheadermenu .topmenu {
	margin: 10px;
	margin-top: 6px;
}
.aw-team .gheadermenu .topmenu .mitem {
	float: left;
    padding: 1px 0.5em;
    margin-right: 10px;
}
.aw-team .gheadermenu .topmenu a {
	font-size: 
}
.aw-team .gheadermenu .topmenu .sel {
	background: none repeat scroll 0 0 #E3E3D7;
    border: 1px solid #DDD9E2;
}
.aw-team .gheadermenu .topmenu .sel a {
	color: #000;
	text-decoration: none;
}

.aw-team .gbmenu a {
	text-decoration: none;
	font-size: 1.2em;
	color: #000;
}
.aw-team .gbmenu .gbitems {
	margin-left: 10px;
}
.aw-team .gbmenu .gbitem {
	background-color: #F4F4EE;
	text-align: center;
	min-width: 100px;
	cursor: pointer;
	float: left;
	margin: 0 1px;
	padding: 5px 15px; 
}
.aw-team .gbmenu .gbitem:hover {
	text-decoration: underline;	
}
.aw-team .gbmenu .current {
	background-color: #E3E3D7;
}
.aw-team .gbmenu .current:hover {
	text-decoration: none;	
}
.aw-team .gbmenu .line {
    background: url("/modules/team/images/gmshadow.png") repeat-x scroll 0 0 transparent;
	height: 16px;
}

/* * * * * Header * * * * */
.aw-team .hdtitle {
	position: relative;
	padding: 7px;
	background-color: #E3E3D7;
	margin-bottom: 10px;
}
.aw-team .hdtitle .rbtns {
	top: 7px; right: 5px;
}
.aw-team .hdtitle .tl {
	font-size: 1.2em;
}

/* * * * * * AHref Button * * * * */
.aw-team a.habtn {
	border-bottom: 1px dotted;
	text-decoration: none;
	margin: 0 5px;
}
.aw-team a.remove {
	color: #D6583F;
}

/* * * * * * * * * * Editor Form * * * * * * * */
.aw-team .editform {
	padding: 10px 0;
	background-color: #FFF0C6;
}
.aw-team .editform .dsc,
.aw-team .viewform .dsc {
	color: #555555;
	font-size: .9em;
	width: 400px;
}

.aw-team .editform h3,
.aw-team .viewform h3 {
    color: #333333;
    font-size: 1.28em;
    font-weight: bold;
    padding-bottom: 0.5em;

	font-weight: normal !important;
}
.aw-team .editform h4,
.aw-team .viewform h4 {
	margin-bottom: 10px;
	font-weight: bold;
}

.aw-team .editform .group,
.aw-team .viewform .group {
	margin: 0 20px;
	border-bottom: 1px solid #E3E3D7;
	margin-bottom: 1em;
	padding-bottom: .8em;
}
.aw-team .editform dl,
.aw-team .viewform dl {
	margin: 0 0 0.3em;
    padding: 0;
    clear: both;
}
.aw-team .editform dt,
.aw-team .viewform dt {
    float: left;
    padding: 0.5em 0 0.5em 0;
    width: 12em;
}
.aw-team .viewform dt {
	text-align: right;
	color: #999999;
}

.aw-team .editform dd,
.aw-team .viewform dd  {
    float: none;
    margin-left: 13em;
    padding: 0.5em 0;
}
.aw-team .editform input.inp,
.aw-team .editform select.inp,
.aw-team .editform textarea.inp {
    border: 1px solid #ACAEB4;
    border-radius: 3px 3px 3px 3px;
    line-height: 20px;
    padding: 3px;
    width: 400px;
}
.aw-team .editform select.inp {
	width: 407px;
}
.aw-team .editform textarea.inp {
	height: 100px;
}
.aw-team .editform .baction input {
 	margin-right: 10px;
    padding: 2px 5px;	
}
.aw-team .editform .baction {
	margin-top: 10px;
	margin-right: 2em;
}
.aw-team .editform .baction .error {
	color: red;
	margin-right: 10px;
}

/* * * * Превьюшки * * * * */
.aw-team .tmb50 { width: 50px; height: 50px; }
.aw-team .tmb100 { width: 100px; height: 100px; }
.aw-team .tmb200 { width: 200px; height: 200px; }

.aw-team .tmb50 img { max-width: 50px; max-height: 50px; }
.aw-team .tmb100 img { max-width: 100px; max-height: 100px; }
.aw-team .tmb200 img { max-width: 200px; max-height: 200px; }

.aw-team .tmb { display: table; }
.aw-team .tmb .tmbpre {
	display: table-cell;
	vertical-align: middle;
}
.aw-team .tmb .tmbpre img {
	display: block;
	margin: 0 auto;
}

