.aw-team .grouplist .grouprow {
	border: 1px solid #E3E3D7;
	margin-bottom: 10px;
}

.aw-team .grouplist .grouprow .ihd,
.aw-team .grouplist .grouprow .ibd {
    padding: 6px 9px;
}
.aw-team .grouplist .grouprow .ihd {
	position: relative;
	color: #303021;
	background-color: #F7F7F3;
	border-bottom: 1px solid #E3E3D7;
}

.aw-team .grouplist .grouprow .ihd .rbtns {
    right: 5px;
    top: 4px;
}