/* * * * * * * Список участников * * * * * * * */
.aw-team .memberlist .memberrow {
	width: 29%;
	float: left;
	margin-right: 10px;
	height: 65px;
}
.aw-team .memberrow .view {
	position: relative;
}
.aw-team .memberrow {
    border: 1px solid #E3E3D7;
    margin-bottom: 10px;
    padding: 10px 15px;
}
.aw-team .memberrow .avtr {
    float: left;
    margin-right: 10px;
}
.aw-team .memberrow .unm {
	font-size: 1.2em;
	display: block;
}

.aw-team .memberrow .isinvite {
	position: absolute;	top: 1px; right: 1px;
	width: 10px;
	text-align: center;
	font-weight: bold;
	color: red;
	cursor: default;
}

/* * * * * * Страница участника * * * * * */
.aw-team .memberview .empavt,
.aw-team .memberview .empinfo {
	float: left;
}

/* * * * * * Приглашение, подтверждение * * * * * */
.aw-team .memberview .empstat dl {
	color: red;
}
.aw-team .memberview .inviteact {
	width: 500px;
	margin: 20px 0 20px 130px;
}
.aw-team .memberview .inviteact p {
	color: red;
	font-size: 1.3em;
}
.aw-team .memberview .inviteact .agreement,
.aw-team .memberview .inviteact .baction {
	margin-top: 10px;
}
